h1 Hello Express
h2= title

style.
    h1 {color: blue}
    h2 {color: green}
    
- var followerCount = 7;

- if(followerCount === 0){
    p You have no followers.
- }else if(followerCount === 1){
    p You have one followers.
- }else{
    p You have #{followerCount} followers.
- }



// use pipe symbol to logout select which you are comfortable with..

p
    if followerCount == 0
        |   You have no followers.
    else if followerCount == 1
        |   You have one follower.
    else
        |   You have #{followerCount} followers.