h1 Hello Express
h2= title

style.
    h1 {color: blue}
    h2 {color: green}
    h3 {color: red}

- var users = [{name: 'Asim', email: 'asim@gmail.com'}, {name: 'Ahsan', email: 'ahsan@gmail.com'}, {name: 'Qasim', email: 'qasim@gmail.com'}];

h3 All the users with "Name" and Email "Addressess" :

ul
    each userSingle in users
        include user