h1 Hello Express
h2= title

style.
    h1 {color: blue}
    h2 {background: red}

script.
    if(10 === 10){
        alert('10 is equal to 10');
    }

ul#animals
    li.bakri One
    li.lelii Two
    li.peduu Three
    li.maajj#gaaannn Four
    
p I want to put alot of text here ......

p
    |I want
    |to put
    |alot of 
    |text here
    |......
    
p.
    I want
    to put
    alot of
    text here
    .....